html {
  box-sizing: border-box;
  background:#375897;
  font-family:'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

input {
  width: 100%;
  padding: 15px 10px;
}

.search-form {
  width: 100%;
  margin: 0;
}

input.search {
  margin: 0;
  text-align: center;
  outline: 0;
  border: 3px solid #F7F7F7;
  width: 100%;
  position: relative;
  top: 5px;
  z-index: 2;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.input-group {
  position: relative;
}

.close {
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY( calc(5px - 50%) );
  width: 20px;
  height: 20px;
  z-index: 10;
}

.close img {
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
}

.input-group div img:hover {
  transform: scale(1.2);
}

.suggestions {
  margin: 20px 0 0 0;
  padding: 0;
  position: relative;
  background:white;
}

.suggestions li {
  list-style: none;
  margin: 0;
  padding: 20px 50px;
  /* text-transform: capitalize; */
  font-size: 18px;
}

.suggestions li a {
  text-decoration: none;
  color: #375897;
}

.suggestions li a h2 {
  margin: 5px 0 10px;
  font-size: 24px;
}

.suggestions li div {
  margin-bottom: 10px;
}

.suggestions li span {
  font-size: 14px;
}

.suggestions li:after {
  content: '';
  display: block;
  height: 1px;
  transform: translateY(21px);
  background-color: rgba(100, 100, 100, 0.5);
}

.active {
  display: block;
}