* {
  box-sizing: border-box;
  opacity: scroll;
}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  overflow: hidden;
  background-color: #06373d;
}

header a {
  float: left;
  color: #ffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px; 
  line-height: 25px;
  border-radius: 4px;
}

header a.logo {
  font-family: Trebuchet MS, sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #ffff;
}
header a.logo:hover {
  background-color:  inherit;
  color:  #dcdcdc;
  text-decoration: underline;
}

header a:hover {
  background-color: #dbead5;/*#c0c0c0;*/
  color: #212121;
  font-weight: bold;
}

nav {
  float: left;
  margin-left: 50px;
}

@media screen and (max-width: 500px) {
  header a {
    float: none;
    display: block;
    text-align: left;
  }
  nav {
    float: none;
  }
}

h1{
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  margin-left: 80px;
  font-weight: bold;
}


.product-wrapper {
  display: block;
  width: 100%;
  float: left;
  transition: width .2s;
  opacity: scroll;
}

@media only screen and (min-width: 450px) {
  .product-wrapper {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .product-wrapper {
    width: 33.333%;
  }
}

@media only screen and (min-width: 1000px) {
  .product-wrapper {
    width: 25%;
  }
}
.product {
  display: block;
  position: relative;
  background: #fff;
  margin: 0px 10px 5px 0;
  text-decoration: none;
  color: #474747;

}

.product-photo {
    display: inline-block;
  max-width: 100%;
  object-fit: cover;
  margin-left: 80px;
  overflow: visible;
}
.product-photo img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  transition: transform .4s ease-out;
}
.product:hover .product-photo img {
  transform: scale(1.05);
}
h4{
  padding: 0;
  display: block;
  margin-left: 80px;
  font-weight: normal;
}
.description{
  font-size: 13px;
    position: relative;
  margin: 0;
  height: 5em;
  overflow: hidden;
  margin-left: 80px;
  font-weight: 600;
  max-height: 20%;
}

 #footer {
    position: fixed; 
    left: 0; 
    bottom: 0; 
    padding: 10px; 
    background-color: #06373d; 
    color: #fff; 
    width: 100%; 
    height: 30px;
   }
